* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212226;
}

header {
  width: 60%;
  height: 200px;

  margin: auto;
  margin-top: 60px;
  border-radius: 5px;
  background-image: url(./Images/header2.jpg);
  background-size: cover;
  background-position: center;
}

img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #2e2f34;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

h1 {
  color: #5e5454;
  padding-top: 30px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
p {
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ul {
  width: 60%;
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #2e2f34;
  border-radius: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #2e2f34;
}

.headermenu {
  margin-top: 4px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.news1 {
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  color: #ffffff;
  background-color: #2e2f34;
  padding: 5px;
  border-radius: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.news2 {
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  color: #ffffff;
  background-color: #2e2f34;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* .p2 {
  color: #ffffff;
} */

.active {
  background-color: #3751c5;
}

.readmore {
  margin-top: 20px;
}
